* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
html body{
    background-color:beige;
}

.divider {
    background-color: black;
    
}

.container h1{
    color: #B88940;
    font-size: 80px;
    font-family: RUDA;
    letter-spacing: 10px;
}
.container h2{
    font-size: 15px;
    color: black;
    font-family: RUDA;
    letter-spacing: 1px;
}

.container h3{
    font-family: RUDA BOLD;
    font-size: 40px;
    color: black;
    letter-spacing: 3px;
}

.container p{
    font-family: Catamaran;
    font-size: 20px;
    color: black;
    letter-spacing: 5px;
}

.caja-1{
    background-color: #FFBD59;
    width: 1200px;
    height: 35px;
    
}
.caja-2{
    background-color: #FFBD59;
    width: 1200px;
    height: 35px;
    
}
.caja-3{
    background-color: #FFBD59;
    width: 1200px;
    height: 35px;
}
.caja-4{
    background-color: #FFBD59;
    width: 1200px;
    height: 35px;
}

.imagen p{
    font-family: Catamaran;
    font-size: 16px;
    color: black;
}

.container2 h2{
    font-size: 30px;
    color: #B88940;
    font-family: Open sans Extra Bold;
    letter-spacing: 5px;
}
.container2 p{
    font-family: Catamaran Bold;
    font-size: 20px;
    color: black;
    letter-spacing: 0px;
}
